/* w3 schools css could be quite useful*/

	/*
    <div class="w3-container">

	{% block content %}  
	{% endblock %} 
	
  */

/*html {
  scroll-behavior: smooth;
}*/

html, body {
	font-family: "Lucida Console", monospace;
	margin: 0rem 3rem;
}

:root {
  --col_1: #D77A61;
  --col_2: #474747;
  --col_3: #F7ECE1;
  --col_4: #3c4766;
  --col_5: #D77A61;
}

/*
colour palettes:

- new dark blue + sienna combo -
:root {
  --col_1: #D77A61;
  --col_2: #474747;
  --col_3: #F7ECE1;
  --col_4: #3c4766;
  --col_5: #D77A61;
}

- old dark blue + sienna combo -
:root {
  --col_1: #D77A61;
  --col_2: #474747;
  --col_3: #F7ECE1;
  --col_4: #454C5F;
  --col_5: #D77A61;
}

- blue gray version -
:root {
  --col_1: #818AA3;
  --col_2: #474747;
  --col_3: #F7ECE1;
  --col_4: #707070;
  --col_5: #818AA3;
}

- orange/sienna version -
:root {
  --col_1: #D77A61;
  --col_2: #474747;
  --col_3: #D8D8D8;
  --col_4: #707070;
  --col_5: #D77A61;
}

#F7FFF7 = mint cream (greeny)
#F7ECE1 = linen (biegy)
#818AA3 = cool (bluey) grey
#1F1300 = liquorice (black)
#D77A61 = burnt sienna (orangy)
#454C5F = charcoal (bluey)


#F18F01 = carrot
#0F0F0F = night
#D8D8D8 = timberwolf
#827D7C = gray
#989DBB = cool 

*/


body {
	color: var(--col_3);
	font-size: 25px;
	line-height: 40px;
	text-align: left;
	background-color: var(--col_4);
	padding: 20px;
}


table, th, td {
  
  border-radius: 10px;
  border-spacing: 4px;
  font-size: 15px;
 /* border-collapse: collapse;*/
  color: var(--col_2);

}

th, td {
  background-color: var(--col_3);
  padding: 6px 20px;
  border: 3px solid var(--col_2);
  border-style: solid;

}

a {
  color: inherit;
  text-decoration: inherit;
}

.button {
  font-family: Lucida Console, monospace;
  font-weight: bold;
  border: none;
  
  color: var(--col_2);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.button_smaller {

  font-family: Lucida Console, monospace;
  border: none;
  border-radius: 12px;

  color: var(--col_2);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  /* display: block; */
  display: inline-block;

  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.back_button {

  font-family: Lucida Console, monospace;
  border: 2px solid var(--col_2);
  font-weight: bold;
  border-radius: 12px;
  color: var(--col_2);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  /* display: block; */
  display: inline-block;

  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--col_3);
}

.back_hover:hover {

  font-family: Lucida Console, monospace;
  border: 2px solid var(--col_2);
  font-weight: bold;
  border-radius: 12px;
  color: var(--col_3);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  /* display: block; */
  display: inline-block;

  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--col_5);

}


.button1 {
  background-color: var(--col_5);
  color: var(--col_3);
  box-shadow: 0 12px 16px 0 rgba(40,40,40,0.9), 0 17px 50px 0 rgba(0,0,0,0.19);
  
}

.button1:hover {
  background-color: var(--col_3);
  color: var(--col_2);
  border: 2px solid var(--col_5);
  box-shadow: 0 4px 8px 0 rgba(20,20,20,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.button2 {
  background-color: var(--col_3);
  color: var(--col_2);
  border: 2px solid var(--col_2);
}

.button2:hover {
  background-color: var(--col_5);
  color: var(--col_3);
}

.button3:hover {
  background-color: var(--col_1) ;
  color: var(--col_2);
  border: 2px solid var(--col_3);
}

.button3 {
  background-color: var(--col_1) ;
  color: var(--col_3);
}


.two-column{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 15px;
}

.bluebox {
	font-family: Lucida Console, monospace;
	display: flex; 
	font-size: 20px;
	color: var(--col_2);
	font-weight: lighter;
	background-color: var(--col_3);
	padding: 12px 24px;
	border-style: solid;
	border-width: 6px;
	border-color: var(--col_3);
	border-radius: 20px;
}

.greybox {
	display: flex; 
	display: inline-block;
	font-weight: lighter;
	font-size: 12px;
	color: var(--col_2);
	background-color: var(--col_3);
	padding: 3px 8px;
	border-style: solid;
	border-width: 1.5px;
	border-radius: 6px;
}



.title {
	color: steelblue;
	background-color: var(--col_3);
	font-size: 25px;
	/*text-decoration: underline; */
	text-shadow: 1px 1px black;
	padding: 20px;
	/*font-family: Optima, sans-serif;*/
	font-weight: bold;
	line-height: 100px;
	border-style: solid;
	border-width: 10px;
	border-color: lightgrey;
}

.image_below {
	border-style: solid;
	border-width: 10px;
	border-color: lightcoral;
	margin:0 2rem;
	width: 500px;

	box-shadow: 0 8px 16px 0 lightcoral;
}

.image_margin {
	border-style: solid;
	border-width: 10px;
	border-color: #f6861e;
	margin:0 2rem;
	width: 500px;

	box-shadow: 0 8px 16px 0 #f6861e
}

.image_scaled {
	border-style: solid;
	border-width: 10px;
	border-color: #f6861e;
	margin:0 2rem;
	width: 500px;
	height: 320px;
	box-shadow: 0 8px 16px 0 #f6861e
}

.icon_scaled {
	border-style: solid;
	border-width: 10px;
	border-color: lightcoral;
	margin:0 2rem;
	width: 300px;
	height: 250px;
	box-shadow: 0 8px 16px 0 lightcoral;
	background-color: #F7FFF7;
}

