{% extends "layout.html" %}
{% block content %}
		<h2> ADD UNITS PAGE </h2>
        <p>Here you can add units to the database (WIP feauture):</p>

       <!--  <p>{{error}}</p> -->

        <form action="add_units", method="post">
		  <label for="Name">New unit name:</label><br>
		  <input type="text" id="x" name="Name" value="{{response['Name']}}"><br>
		  <label for="Health">Health:</label><br>
		  <input type="text" id="x" name="Health" value="{{response['Health']}}"><br>
		  <label for="DPS">Damage per second:</label><br>
		  <input type="text" id="x" name="DPS" value="{{response['DPS']}}"><br>
		  <label for="Mass_Cost">Mass cost:</label><br>
		  <input type="text" id="x" name="Mass_Cost" value="{{response['Mass_Cost']}}"><br>
		  <label for="Energy_Cost">Energy cost:</label><br>
		  <input type="text" id="x" name="Energy_Cost" value="{{response['Energy_Cost']}}"><br>
		  <label for="Range">Weapon range (max):</label><br>
		  <input type="text" id="x" name="Range" value="{{response['Range']}}"><br>
		  <label for="Speed">Movement speed:</label><br>
		  <input type="text" id="x" name="Speed" value="{{response['Speed']}}"><br><br>

		  <label for="Faction_ID">Faction:</label><br>

		  <input type="radio" id="4" name="Faction_ID" value="4">
		  <label for="Seraphim">Seraphim</label><br>

		  <input type="radio" id="1" name="Faction_ID" value="1">
		  <label for="UEF">UEF</label><br>
		  
		  <input type="radio" id="2" name="Faction_ID" value="2">
		  <label for="Cybran">Cybran</label><br>
		
		  <input type="radio" id="3" name="Faction_ID" value="3">
		  <label for="Aeon">Aeon</label><br><br>
		
		  <p>Here you can add counters for your units:</p>

		 <hidden value="add counter">
		 <input id="bottom" class="button_smaller button2" type="submit" value="Add new counter" name="add counter"> <br><br>

		  {% for counter in range(counters) %}

			  <label for="counter_name">Counter:</label><br>
			<!--   <input type="text" id="x" name="counter_name{{counter}}" value=""><br> -->
			  <select id ="x" name = "counter_name{{counter}}"> 
			  {% for unit in units %}
			  <option value = "{{unit[0]}}"> {{unit[1]}} </option>
			  {% endfor %}
			  </select>
			  <br>

			  <label for="counter_description">Counter description:</label><br>
			  <input type="text" id="x" name="counter_description{{counter}}" value=""><br><br>

		  {% endfor %}

		  <input class="button_smaller button2" type="submit" value="Finalise & submit new unit">

		</form>

{% endblock %}
