{% extends "layout.html" %}
{% block content %}
		<h2> DELETE UNITS PAGE </h2>
        <p>Here you can delete existing units from the database:</p>
        <form method="post">
		  <label for="fname">Choose the unit you wish to delete:</label><br>
		  <select name = "unit_name"> 
		  {% for unit in units %}
		  <option value = "{{unit[0]}}"> {{unit[1]}} </option>
		  {% endfor %}
		  </select>
		  <input class="button_smaller button2" type="submit" value="Confirm deletion">
		</form>

{% endblock %}
