<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
	<nav>
		{% include "nav.html" %}
	</nav>
	<!-- <header>
		{% include "header.html" %}
	</header> -->

	{% block content %}{% endblock %}
	<footer>
		{% include "footer.html" %}
	</footer>
 
</body>
</html>


<!--
	

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>replit</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>



<body>


	<h1 class="title">WHY YOU SHOULD TRY ~3D ART~!</h1>

	<div class="redbox" id="toc">

  -->