<hr>
<nav>
<!-- <h1 class="title">HOME | UNIT COUNTERS | SORT UNITS | FILTER FACTIONS | ADD UNITS | DELETE UNITS</h1> -->

<a href="/">
    <button class="button button1" type="button">HOME</button>
</a>

<a href="/counters">
    <button class="button button1" type="button">COUNTERS</button>
</a>

<a href="/sort_units/1">
    <button class="button button1" type="button">SORT UNITS</button>
</a>

<a href="/filter_factions/0">
    <button class="button button1" type="button">FILTER FACTIONS</button>
</a>

<a href="/add_units">
    <button class="button button1" type="button">ADD UNITS</button>


</a><a href="/delete_units">
    <button class="button button1" type="button">DELETE UNITS</button>
</a>

</a><a href="/boundary">
    <button class="button button1" type="button">INFO</button>
</a>




</nav>

<!-- this might be meant to be the navbar lol-->

<hr>
